################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/MD.Core.DynamoDbPlugin/bin
/MD.Core.DynamoDbPlugin/obj
/MD.Core.DynamoDbPlugin/Properties/PublishProfiles
/MD.DemoWebAppWithDynamoDb/bin
/MD.DemoWebAppWithDynamoDb/obj
/MD.DemoWebAppWithDynamoDb/Properties/PublishProfiles
/MD.DemoWebAppWithDynamoDb/appsettings.development.json
