<body>
  <app-nav-menu [caption]="appTitle"></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <div class="spinner-window" *ngIf="interactionBlocker.visible">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</body>
